# Application
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

# Base de données
POSTGRES_USER=pigeon-devis
POSTGRES_PASSWORD=pigeon-devis
POSTGRES_DB=pigeon-devis
POSTGRES_PORT=5432

# JWT
JWT_SECRET=mysecretkey
JWT_EXPIRATION=3600

# Email
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASSWORD=your-password
MAIL_FROM=noreply@example.com 