# Environment
NODE_ENV=development

# App
PORT=3000
API_PREFIX=/api
UPLOAD_DEST=./uploads
APP_URL=http://localhost:3000

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=pigeon_devis

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pigeon_devis

# JWT
JWT_SECRET=votre_secret_tres_securise
JWT_EXPIRATION=1d

# Mail (Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=user@gmail.com
MAIL_PASSWORD=your-app-specific-password
MAIL_FROM=user@gmail.com
MAIL_SECURE=true 